src/src/XSD_XML/App.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="Application">
    <xs:complexType>
      <xs:sequence>
      	<xs:element name="StudyNews">
      	  <xs:complexType>
		    <xs:sequence>
      		  <xs:element name="Fachhochschulen">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Fachhochschule" type="xs:string" maxOccurs="unbounded" minOccurs="1" />
					</xs:sequence>
				</xs:complexType>		
			</xs:element>
			<xs:element name="Professoren">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Professor" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
	    <xs:element name="Module">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Modul" type="xs:string" maxOccurs="unbounded" minOccurs="0" />
				</xs:sequence>
	 		</xs:complexType>
		</xs:element>
		    <xs:element name="Kommentare">
    	    	<xs:complexType>
    			  <xs:sequence>
       				 <xs:element name="Kommentar" maxOccurs="unbounded" minOccurs="0">
       				   <xs:complexType>
       				     <xs:sequence>
           				   <xs:element type="xs:string" name="Benutzername"/>
              			   <xs:element type="xs:string" name="Nachricht"/>
          			     </xs:sequence>
            		   <xs:attribute type="xs:ID" name="id" use="required"/>
         			 </xs:complexType>
          		   </xs:element>
    		     </xs:sequence>
 		      </xs:complexType>
		   </xs:element>
		<xs:element name="Nachrichten">
			<xs:complexType>
				<xs:sequence>
					<xs:element name="Info" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
				</xs:sequence>
			</xs:complexType>
		</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>