src/src/XSD_XML/Kommentare.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Kommentare">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Kommentar">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Benutzername"/>
              <xs:element type="xs:string" name="Nachricht"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>